<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40">
<div fxFlex>
  <mat-card *ngIf="dish"  [@expand] [@visibility]="visibility" >
    <mat-card-content>
      <mat-card-header>
<h1> {{dish.name | uppercase}} </h1>
      </mat-card-header>
        <img mat-card-image src='{{BaseURL + dish.image}}' alt={{dish.name}}>
        <p>{{ dish.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button  [routerLink]='["/dishdetail", prev]' >
        <span class='fa fa-chevron-left fa-lg'></span>
      </button>
      <button mat-button (click)="goback()">Retour</button>
      <button mat-button>Aimer</button>
      <button mat-button>Partager</button>
      <span class="flex-spacer"></span>
      <button mat-button [routerLink]='["/dishdetail", nex]'>
        <span class="fa fa-chevron-right fa-lg"></span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
  </div>

  <div fxFlex="40">
    <div fxFlex [hidden]="!dish">
      <mat-spinner><span>Loading ....., Wait Please!</span></mat-spinner>
    </div>
    <mat-list *ngIf="dish"  [@visibility]="visibility" [@expand] >
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of dish.comments">
        <div matLine>{{comment.comment}}<br>{{comment.rating}} stars</div>
        <div matLine> -- {{comment.author}} <span>{{comment.date | date : "MM dd, yyyy"}}</span></div>
      </mat-list-item>

    </mat-list>



<div fxFlex [hidden]="dish">
  <mat-spinner><span>Loading ....., Wait Please!</span></mat-spinner>
</div>
</div>

<!--mat-list-item> -->

  <form  [formGroup]='commentForm' #ff='ngForm' (ngSubmit)='onSubmit()'>
    <p>
      <mat-form-field>
        <div matLine><input matInput formControlName='author' placeholder='Name' type='text' required></div>
        <div matLine><mat-error *ngIf='formErrors.author'>{{formErrors.author}}</mat-error></div>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <div matLine><mat-slider min="1" max="100" step="1" [value]="comment.rating" formControlName='rating'></mat-slider></div>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
      <div matLine><textarea matInput formControlName="comment" placeholder="Your Comment here" row=12 required></textarea></div>
      <div matLine>
  <mat-error *ngIf='formErrors.comment'>{{formErrors.comment}}</mat-error></div>
    </mat-form-field>
    </p>
    <button type='submit' mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>

  </form>
<!--/mat-list-item>-->
