<mat-toolbar color="primary">
  Login
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</mat-toolbar>

<p> {{user | json}} </p>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()"  >
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input matInput type="text" placeholder="Username" [(ngModel)]="user.username" name="username"
        #username="ngModel" required/>
        <mat-error *ngIf="username.errors?.required">Le champ username est requis</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [type]="hide ? 'password':'text'" placeholder="Password" [(ngModel)]="user.password" name="password"
        #password="ngModel" required/>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.errors?.required">Le champ password est requis</mat-error>
      </mat-form-field>
    </p>
    <mat-checkbox [(ngModel)]='user.remember' name='remember'> Remember Me</mat-checkbox>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" class="background-primary text-floral-white"
    [disabled]="loginForm.form.invalid">Login</button>
  </mat-dialog-actions>
</form>
